# Server
SERVER_PORT=18080
FRONTEND_PORT=80
BASE_URL=http://localhost:18080
STARTUP_FLUSH_REDIS_ON_START=false

# Docker
TZ=Asia/Shanghai
DOCKER_SUBNET=172.28.0.0/16
MYSQL_IMAGE=mysql:8.0
REDIS_IMAGE=redis:7-alpine
REDISINSIGHT_IMAGE=redis/redisinsight:3.2.0
ZOOKEEPER_IMAGE=confluentinc/cp-zookeeper:7.5.0
KAFKA_IMAGE=confluentinc/cp-kafka:7.5.0
AKHQ_IMAGE=tchiotludo/akhq:0.26.0
REDIS_PORT=16379
REDISINSIGHT_PORT=5540
ZOOKEEPER_PORT=2181
KAFKA_INTERNAL_HOST_PORT=9092
KAFKA_HOST_PORT=19092
AKHQ_PORT=8086

# MySQL
MYSQL_HOST=127.0.0.1
MYSQL_PORT=13306
MYSQL_DATABASE=seckill
MYSQL_USER=root
MYSQL_PASSWORD=root123

# Redis
REDIS_ADDR=127.0.0.1:16379
REDIS_DB=0

# Kafka
KAFKA_BROKERS=127.0.0.1:19092
KAFKA_TOPIC=seckill_orders
KAFKA_GROUP=seckill_consumer_group

# Auth
JWT_SECRET=change_me
JWT_EXPIRE_HOURS=24
ADMIN_USERNAME=admin
ADMIN_PASSWORD=replace_with_a_unique_admin_password

# QQ email SMTP
EMAIL_SMTP_HOST=smtp.qq.com
EMAIL_SMTP_PORT=587
EMAIL_USERNAME=your_qq_email@qq.com
EMAIL_PASSWORD=your_qq_mail_smtp_authorization_code
EMAIL_FROM=your_qq_email@qq.com
EMAIL_FROM_NAME=秒杀系统
EMAIL_ENCRYPTION=starttls
EMAIL_CODE_LENGTH=6
EMAIL_CODE_TTL=5m
EMAIL_SEND_INTERVAL=60s
EMAIL_SUBJECT=秒杀系统验证码
