.env
node_modules/
dist/
frontend/dist/
logs/
bin/
!backend/bin/
backend/bin/*
!backend/bin/build-linux.sh
!backend/bin/build-linux.ps1
!backend/bin/kafka-startup.sh
!backend/bin/throttled-healthcheck.sh
*.txt
.DS_Store
*.log
.vscode/
